---
layout: layouts/base.njk
---
{% for proj in projs %}
    <article>              
        <h2><a href={{ proj.link }}>{{ proj.name }}</a></h2>
        <p> {{ proj.desc }} </p>
    </article>
{% endfor %}
 